#main{
    margin: auto; 
    width: 400px;   
    font-size: large;
    background-color: lightcoral;
    border: 2px solid black;
    padding-left: 210px;
    padding-bottom: 20px;
    border-radius: 5px;
}
#title{
    background-color: lightgrey;
    font-size: medium;
    border-radius: 5px;
    border: 2px solid black;
    font-style: oblique;
    /* cursor: pointer;     */

}
#desc{
    background-color: lightgrey;
    font-size: medium;
    border-radius: 5px;
    border: 2px solid black;
    font-style: oblique;
    /* cursor: pointer; */

}
#done{
    background-color: lightblue;
}
#add{
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
}
#pend{
    width: 900px;
    margin: auto;
    font-style: oblique;
    
}
h1{
    color: brown;
    font-style: oblique;
}
#com{
    margin: auto;
    width: 900px;
    font-style: oblique;
    
}
body{
    background-color: lightyellow;
}
.food{
    justify-content: space-between;
    display: flex;
    background-color: lightgrey;
    border: 2px solid lightcoral;
    margin:10px;

}
.oh{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.ohk{
    display: flex;
    align-items: center;
    padding-right: 20px;

}
